<div class="show">
  <h5>クラス名: <%= @team.name %></h5>
  <% n = 0 %>
  <% @kids.each do |kid|%>
    <h5>園児名<%= n += 1 %></h5>
    <h4>園児名: <%= kid.name %></h4>
  <% end %>
  <div class="back"><%= link_to t('.back'), teams_path %></div>
</div>
<style>
h5{
  color: #7ea2e6;
}
</style>