<div class="show">
  <h5>出席簿</h5>
  <h4>クラス名: <%= @team.name %></h4>
  <% n = 0 %>
  <% @kids.each do |kid|%>
    <h5>園児名<%= n += 1 %></h5>
    <h3>園児名: <%= kid.name %></h3>
  <% end %>
<div class="back"><%= link_to t('.back'), teams_path %></div>

<style>
  h5{
    color: #7ea2e6;
  }
</style>