// Place all the styles related to the attendance_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all {
  position: relative;
  left: 50px;
}

.calendar {
  width: 90%;
  text-align: center;
  border: solid;
  margin-top: 0;
  // left: 50px;
  // right: 50px;
}

.calendar {
  position: sticky;
  top: 50px;
  left: 50px;
  right: 50px;
}

.date {
  font-size: 15px;
  text-align: left;
}

.new_schedule {
  font-size: 30px;
  border-bottom: dotted 4px rgb(238, 76, 211);
  width: 410px;
  padding: 5px;
}

.plan-container {
  margin-bottom: 2rem;
}