// Place all the styles related to the attendance_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all {
  position: relative;
  left: 50px;
}

.calendar {
  width: 90%;
  text-align: center;
  border: solid;
  margin-top: 0;
}

.calendar {
  position: sticky;
  top: 50px;
  left: 50px;
  right: 50px;
}

.date {
  font-size: 15px;
  text-align: left;
}

.plan-container {
  margin-bottom: 2rem;
}